.login-container {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-form {
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex-basis: 40%;
    text-align: left;
}

.login-info {
    background: linear-gradient(135deg, #5e63b6 0%, #5e63b6 100%);
    color: white;
    padding: 3rem;
    flex-basis: 50%;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-field {
    margin-bottom: 1.5rem;
    position: relative;
}

    .input-field label {
        display: flex;
        align-items: center;
    }

    .input-field i {
        margin-right: 0.5rem;
        color: #5e63b6;
    }

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.btn-submit {
    width: 100%;
    background-color: #5e63b6;
    color: white;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.register-link {
    text-align: center;
    margin-top: 1rem;
}

    .register-link a {
        color: #5e63b6;
        text-decoration: none;
    }

        .register-link a:hover {
            text-decoration: underline;
        }
