.todo-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #5e63b6;
}

.todo-add-section {
    background-color: #5e63b6; /* Soft light blue background */
    padding: 20px;
    border: 1px solid #d1e7f0; /* Softer border color */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: transform 0.3s ease; /* Smooth hover effect */
}

    .todo-add-section:hover {
        transform: scale(1.02); /* Slightly enlarge on hover */
    }

.input-field-Todo {
    padding: 10px;
    margin-right: 10px;
    width: 46%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-add-todo {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete {
    padding: 5px 10px;
    background-color: #dc3545; /* Warna merah */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-delete:hover {
        background-color: #c82333; 
    }

.table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 15%;
}

    .table td:last-child {
        width: 20%;
        text-align: center;
    }

@media (max-width: 768px) {
    .table th, .table td {
        width: auto; 
    }
}


.todo-section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #ffffff;
}

.custom-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

    .custom-select:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }


.status-label {
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

    .status-label.not-started {
        background-color: #007bff;
        color: white;
    }

    .status-label.in-progress {
        background-color: #28a745;
        color: white;
    }

    .status-label.review {
        background-color: #ffc107;
        color: white;
    }

.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th, .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

    .pagination button {
        padding: 5px 10px;
        border: 1px solid #ddd;
        background-color: white;
        cursor: pointer;
    }

        .pagination button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
