@inherits LayoutComponentBase
@inject AuthService AuthService
@inject NavigationManager NavigationManager

@if (isLoggedIn)
{
    <NavMenu/>
}
else
{
    @Body
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool isLoggedIn = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isLoggedIn = await AuthService.IsLoggedInAsync();
            StateHasChanged();
        }
    }
}
